service:
  name: <web name>
  port: <port>
  param: <query parameter in url for extract scanned id>
 
db:
  host: <postgres ip>
  port: <postgres port>
  user: <user name>
  password: <password>
  database: <db name>
  sslmode: disable